* {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Radley&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.intropage {
  background-color: #bdc5d0;
  height: 105vh;
}

.hero {
  width: 100%;
  height: 74vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 197px;
}
.hero .text {
  color: #293042;
  font-family: "Poppins", sans-serif;
  font-size: 56px;
  line-height: 90px;
}
.hero .text .hi {
  font-weight: 500;
  font-size: 44px;
}
.hero .text .wlc {
  color: #e06b40;
}
.hero .media img {
  transition: 1s;
}

.hero .media img:hover {
  filter: grayscale(40%);
  cursor: pointer;
}

.hero .media .icons {
  display: flex;
  align-items: center;
}
.hero .media .icons i {
  height: 28px;
  width: 28px;
  margin: 23px;
  color: #293042;
  transition: 1s;
}
i:hover {
  filter: drop-shadow(4px 8px 22px #344665);
}

/*NAME */
.name {
  text-align: center;
  color: #293042;
  font-size: 72px;
  font-family: "Radley", serif;
  line-height: 42px;
}
.name .im {
  font-size: 42px;
}
.name .paragraph {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-top: 18px;
  margin-bottom: 73px;
}

/* PROJECTS */
.projects {
  /* background-color: #293042; */
  background-color: #293042;
  background-image: repeating-radial-gradient(
    circle,
    #222938,
    #222938 45%,
    transparent 45%,
    transparent 60%,
    #222938 60%,
    #222938 100%
  );
  background-size: 10px 10px;
  height: 84vh;
  width: 100%;
}

/* .projects{} */

.projects .text {
  /* margin: 70px 0; */
  /* text-align: center; */
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: #bdc5d0;
}

.projects .container {
  display: grid;
  /* grid-template-columns: 10px 10px 10px; */
}

.projects .container .netflixclone {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects .container .netflixclone img {
  margin: 20px, 30px;
  border-radius: 16px;
}

.projects .container .netflixclone h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #bdc5d0;
}

@media only screen and (max-width: 600px) {
  .intropage{
    background-color: #bdc5d0;
    height: 107vh;
  }
  .hero {
    flex-direction: column;
    gap: 16px;
    height: 90vh;
    margin-bottom: 80px;
  }
  .hero .text {
    font-size: 30px;
    line-height: 46px; /* Adjusted line-height for better readability */
    text-align: center;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
  }
  .hero .text .hi {
    font-weight: 500;
    font-size: 24px;
  }
  .name {
    font-size: 52px;
    margin-top: -104px;
  }
  .name .paragraph {
    font-size: 12px;
    line-height: 18px;
  }
  /* .projects{
    margin-top: 85px; 
  } */
  .projects .text{
    text-align: center;
  }
}
